// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
}

header.masthead img {
  width: 100%;
  padding-top: 100px;
}
@media (min-width: 992px) {
  header.masthead img {
    padding-top: 80px;
  }
}

@media (min-width: 1200px) {
  header.masthead img {
    padding-top: 0px;
  }
}
